@using BlogGPT.UI.ViewModels.Post;
@model IEnumerable<PostModel>
@{
    ViewData["Title"] = "List of posts";
}

<partial name="_AlertMessage" />

<p>
    <a class="btn btn-success" asp-action="Create">Tạo bài viết mới</a>
</p>
<p>Number of posts: @ViewBag.postNumber</p>
<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(++ViewBag.postIndex)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PostId">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    <br>
                    <small>
                        @string.Join(", ", item.PostCategories.Select(pc => pc.CategoryID))
                    </small>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paging" model="@ViewBag.pagingModel" />