@model IReadOnlyCollection<IndexPostModel>;
@using BlogGPT.UI.Models.Post;
@using BlogGPT.UI.Views.Shared.Components.CategorySidebar;

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        <li class="breadcrumb-item">Posts</li>
    </ol>
</nav>

@foreach (var post in Model)
{
    <div class="border-bottom mb-3 card">
        <img src="@post.Thumbnail" alt="Thumbnail" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-controller="Posts" asp-action="Detail" asp-route-slug="@post.Slug">
                    @post.Title
                </a>
            </h5>
            <p class="card-text">
                @post.Description
            </p>
            @if (@post.Categories != null)
            {
                <div>
                    Categories:
                    <strong class="text-danger">
                        @string.Join(", ", @post.Categories.Select(c => c.Name))
                    </strong>
                </div>
            }
        </div>
    </div>
}

@section Sidebar {
    @await Component.InvokeAsync(nameof(CategorySidebar),
        new CategorySidebar.CategorySidebarData()
{
    Categories = ViewBag.categories,
    Level = 0,
    SelectCategories = ViewBag.pagingModel?.Categories as string[]
})
}

<partial name="_Paging" model="@ViewBag.pagingModel" />