@using BlogGPT.UI.ViewModels.Post;
@model PaginatedModel<IndexPostModel>
@{
    ViewData["Title"] = "List of posts";
}

<partial name="_AlertMessage" />

<p>
    <a class="btn btn-success" asp-action="Create">Tạo bài viết mới</a>
</p>
<p>Number of posts: @ViewBag.postNumber</p>
@if (Model.Items != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>
                    Title
                </th>
                <th>
                    Published
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @(++ViewBag.postIndex)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                        <br>
                        @if (item.Categories != null)
                        {
                            <small>
                                @string.Join(", ", item.Categories.Select(category => category.Name))
                            </small>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPublished)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_Paging" model="ViewBag.pagingModel" />
}
