@model PostModel
@using BlogGPT.UI.Components;
@using BlogGPT.UI.Models.Category;
@using BlogGPT.UI.Models.Post;

@{
    List<CategoryModel> categories = ViewBag.categories as List<CategoryModel>;
    CategoryModel category = ViewBag.category as CategoryModel;
    ViewData["Title"] = Model.Title;

    IQueryable<PostModel> otherPosts = ViewBag.otherPosts as IQueryable<PostModel>;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var li = category.ListParents();
            foreach (var l in li)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Name</a>
                </li>
            }
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-route-categoryslug="@category.Slug">@category.Name</a>
            </li>
        }
    </ol>
</nav>

<div class="detailpost">
    <h1>@Model.Title</h1>
    <div class="sapo">
        @Model.Description
    </div>
@*     <div>
        <i>Cập nhật: @Model.DateUpdated</i> /
        Tác giả: <strong>@Model.Author.UserName</strong>
    </div> *@
    <hr>

    @Html.Raw(Model.Content)

</div>




@section Sidebar {
    @await Component.InvokeAsync("BlogGPT.UI.Components.CategorySidebar",
        new CategorySidebar.CategorySidebarData()
        {
            Categories = categories,
            level = 0,
            categoryslug = category.Slug
        })

    <ul class="list-group">
        @foreach (var post in otherPosts)
        {
            <li class="list-group-item">
                <a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">
                    @post.Title
                </a>
            </li>
        }
    </ul>
}

