@using System.Collections.Generic
@using BlogGPT.Infrastructure.Identity;
@using BlogGPT.Application.Common.Interfaces.Identity
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject IIdentityService IdentityService;


@{
    ViewData["Title"] = "Sign in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-4">
                    <label asp-for="UserNameOrEmail" class="control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="UserNameOrEmail" class="form-control" />
                        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="col-md-offset-2 col-md-12">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="col-md-offset-2 col-md-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@{
    var loginProviders = await IdentityService.GetExternalAuthenticationSchemesAsync();
    if (loginProviders.Any())
    {
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <div>
                <p>
                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" class="btn btn-danger my-2" name="provider" value="@provider" title="Log in using your @provider account">Sign in with @provider</button>
                    }
                </p>
            </div>
        </form>
    }
}
<p>
    <a asp-action="ForgotPassword">Forgot your password?</a>
</p>
<p>
    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Create new account</a>
</p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
