@model List<RoleModel>
@{
    ViewData["Title"] = "List of roles";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage"></partial>


<div class="mb-2">
    <a class="btn btn-primary" asp-action="Create">Create new role</a>
    <a class="btn btn-warning" asp-action="Index" asp-controller="User">Manage users</a>
</div>

<table class="table">
    <tr>
        <th>Role name</th>
        <th>Action</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>
                <p>@role.Name</p>
                @foreach (var claim in @role.Claims)
                {
                    <small>@claim</small><br>
                }
            </td>
            <td>
                <a class="btn btn-info btn-md" asp-action="Edit" asp-route-roleid="@role.Id">Edit</a>
                <a class="btn btn-danger btn-md" asp-action="Delete" asp-route-roleid="@role.Id">Delete</a>
            </td>
        </tr>
    }
</table>
